.index-banner{
	position: relative;
	height: 570px;
	background:#b3b3b3;

}
.index-banner-bg{
	/*background: url(../img/index-banner-bg.png);*/
	height: 570px;
	overflow: hidden;
}
.index-banner-bg img{
	width: 100%;
}
.index-banner-text{
	position: absolute;
	left: 50%;
	top: 208px;
	margin-left: -388px;
}
.index-banner-text .text-logo{
	width: 776px;
	height: 117px;
	background:url(../img/text-logo.png) no-repeat;
	overflow: hidden;
}
.index-banner-text .text-info{
	margin-top: 20px;
	text-align: center; 
	color: #fff;
}
.index-banner-text .line{
	display: inline-block;
	width: 40px;
	border-top: 1px solid #fff;
	vertical-align: middle;
}
.index-banner-text .line-left{
	margin-right: 25px;
}
.index-banner-text .line-right{
	margin-left: 25px;
}
/*菜单*/
.index-menu{
	position: relative;
	border-top: 4px solid #f34949;
}
.index-menu .menu-tips{
	position: absolute;
	width: 156px;
	height: 75px;
	top: 0px;
	left: 50%;
	margin-left: -78px;
	background-color: #f34949;
	color: #fff;
	font-size: 20px;
	line-height: 60px;
	text-align: center;

}
.index-menu .menu-tips:after{
	position: absolute;
	content: ' ';
	left: 0;
	bottom: 0;	
	width: 0;
	height: 0;
	border-left: 78px solid transparent;
	border-right: 78px solid transparent;
	border-bottom: 10px solid #fff;
}
.menu-list{
	margin-top: 159px;
	overflow: hidden;
}
.menu-list .menu-item{
	float: left;
	width: 520px;
	margin-right: 60px;
	margin-bottom: 56px;
}
.menu-list ul{
	width: 1160px;
}
.menu-list .menu-item a{
	color: #555555;
}
.menu-list .menu-item .title,.menu-list .menu-item .line{
	float: left;

}
.menu-list .menu-item .price{
	float: right;
}
.menu-list .menu-item .title{
	width: 230px;
	overflow: hidden;
	white-space: nowrap; 
	text-overflow: ellipsis;
	margin-right: 20px;
}
.menu-list .menu-item .line{
	margin-top: 10px;
	width: 192px;
	border-top: 1px solid #e3e1e1;
	margin-right: 40px;
	vertical-align: middle;
}
.menu-list .menu-item .title .comment{
	margin-top: 4px;
	color: #b7b7b7;
	font-size:12px;
}
.index-menu .menu-more-button{
	width: 134px;
	height: 32px;
	border:1px solid #b7b7b7;
	margin:0 auto;
	color: #b7b7b7;
	line-height: 32px;
	padding-left: 16px;
	font-size: 14px;
}
.index-menu .menu-more-button .split{
	margin-left: 13px;
	margin-right: 10px;
}
.index-menu .menu-more-button .icon{
	display: inline-block;
	width: 11px;
	height: 7px;
	background:url(../img/arrow-down.png) no-repeat;
	margin-left: 10px;
}
/*pannel*/
.index-pannel{
	margin-top: 200px;
}
.index-pannel .index-pannel-header{

}
.index-pannel .index-pannel-header h3{
	float: left;
	width: 170px;
	margin-right: 48px;
	font-size: 20px;
	color: #3b3b3b;
}
.index-pannel .index-pannel-header .line{
	float: left;
	width: 200px;
	height: 0px;
	margin-top: 7px;
	border-top: 1px solid #e5e3e3;
	*margin-top: 22px;
}
.index-pannel .index-pannel-header .btn-group{
	float: right;
	font-size: 0px;
}
.index-pannel .index-pannel-header .btn-group a{
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 5px;
	background-color: #dedede;
	margin-left: 10px;
}
.index-pannel .index-pannel-header .btn-group a.active{
	background-color: #9b9b9b;
}
.index-pannel .index-pannel-list{
	width: 1160px;
}
.index-pannel-content{
	margin-top: 70px;
}
.index-pannel .index-pannel-item{
	float: left;
	width: 230px;
	height: 268px;
	margin-right: 60px;
}
.index-foot-list{
	overflow: hidden;
}
.index-foot-list a{
	color: #555;
	font-size: 16px;
}
.index-foot-list .banner{
	width: 230px;
	height: 202px;
	overflow: hidden;
}
.index-foot-list .name{
	margin-top: 24px;
}
.index-foot-list .name .price{
	float: right;
}
.index-foot-list .start-bar{
	font-size: 0px;
	margin-top: 9px;
}
.index-foot-list .start-bar .start{
	display: inline-block;
	width: 12px;
	height: 13px;
	margin-right: 5px;
	background-image:url(../img/start.png);
	background-position: 0px 0px;
	background-repeat: no-repeat;
}
.index-foot-list .start-bar .no-start{
	background-position: 0px -13px;
}
.pic-col{
	float: left;
	height: 380px;
	overflow: hidden;
}
.pic-col-m{
	width: 350px;
}
.pic-col-s{
	width: 287px;
}
.pic-col-l{
	width: 460px;
}