.index-banner{
	position: relative;
	height: 570px;
	background:#b3b3b3;

}
.index-banner-bg{
	/*background: url(../img/index-banner-bg.png);*/
	height: 570px;
	overflow: hidden;
}
.index-banner-bg img{
	width: 100%;
}
.index-banner-text{
	position: absolute;
	left: 50%;
	top: 208px;
	margin-left: -388px;
}